{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naru-Estudio</title>
    <!-- Incluye Tailwind CSS (CDN) -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'naruapp/js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'naruapp/css/style_naruestudio.css' %}">
    <link rel="icon" type="image/png" href="{% static 'naruapp/img/sapo.png' %}"">
    {% endblock %}
</head>
<body>

    <!-- Contenedor principal de la aplicación -->
    <div class="app-container">

        <!-- Icono de Hamburguesa/Menú (Top-Left) -->
        <div class="divHamburguesa p-4 border-b border-gray-200 bg-gray-500">
            <i class="bi bi-list text-3xl text-[var(--text-dark)] cursor-pointer"></i>
        </div>
        
        <!-- Barra Lateral (Sidebar) -->
        <aside class="sidebar h-screen">
        
            
            {% block divPropio %}
            {% endblock %}

            <!-- Sección de Navegación Inferior -->
            <div class="mt-auto flex flex-col pb-4">
                <div class="divExplorar nav-icon-item">
                    <i class="bi bi-question-circle-fill text-xl mr-4 text-[var(--primary-yellow)]"></i>
                    <span>Explorar</span>
                </div>
                <div class="nav-icon-item">
                    <i class="bi bi-gear-fill text-xl mr-4 text-[var(--dark-blue)]"></i>
                    <span>Configuración</span>
                </div>
                <div class="nav-icon-item">
                    <i class="bi bi-house-door-fill text-xl mr-4 text-[var(--secondary-red)]"></i>
                    <span>Inicio</span>
                </div>
            </div>

        </aside>

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>